# DATABASE

TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=dbuser
TYPEORM_PASSWORD=dbpass
TYPEORM_DATABASE=plantcaredb
TYPEORM_LOGGING=true
TYPEORM_MIGRATIONS_RUN=false
TYPEORM_SYNCHRONIZE=false

# TYPEORM CLI
TYPEORM_MIGRATIONS_DIR=src/database/migration
TYPEORM_MIGRATIONS=src/database/migration/*.ts
TYPEORM_ENTITIES=src/modules/*/*.entity.ts